@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.movie-header-section {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;

  @include m.mq('md') {
    flex-direction: column;
    align-items: flex-start;
  }

  &__part-two {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--second {
    gap: 0.8rem;
    margin-bottom: unset;

    @include m.mq('md') {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.3rem;
    }
  }
}

.title-movie {
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
}

.movie-year {
  color: v.$c-gray;
}

.movie-average-container {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.movie-genres-container {
  display: flex;
  gap: 0.5rem;

  @include m.mq('lg') {
    flex-wrap: wrap;
  }
}

.movie-duration {
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  border-radius: 0.2rem;
}
