.recommendations-container {
  margin-top: 0.8rem;
  overflow: hidden;
}

.recommendations-title {
  margin-bottom: 0.5rem;
  font-weight: 900;
}

.recommendations-card-container {
  display: flex;
  gap: 2rem;
}
