// ****************
// FONTS
// ****************
$f-primary: 'Spectral', serif;
$f-secundary: 'Karla', sans-serif;

// ****************
// COLORS
// ****************
$c-primary: #1f2226;
$c-black: #1a1a1a;
$c-red: #e9544c;
$c-white: #f6f6f6;
$c-gray: #75757a;

// ****************
// PADDINGS
// ****************
$p-general: 2rem;
