// ****************
// FONTS
// ****************
$f-primary: 'Spectral', serif;
$f-secundary: 'Karla', sans-serif;

// ****************
// COLORS
// ****************
$c-primary: #1f2226;
$c-secundary: #17191b;
$c-black: #1a1a1a;
$c-red: #f06c65;
$c-darkRed: #ce2f27;
$c-white: #f6f6f6;
$c-gray: #75757a;

// ****************
// PADDINGS
// ****************
$p-general: 2rem;

$media-query: (
  'lg': 1000px,
  'md': 700px,
  'sm': 550px,
  'xsm': 400px,
);
