@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.details-page {
  &--person {
    background-color: v.$c-secundary;
    padding: 2rem;
    border-radius: 1rem;
    flex-direction: column;
    gap: 2rem;
  }
}

.details-page-main {
  display: flex;
  gap: 1rem;

  @include m.mq('lg') {
    flex-direction: column;
    align-items: center;
  }
}
