@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.header {
  display: flex;
  // gap: 5rem;
  @include m.general-padding;
  background-color: v.$c-black;
  box-shadow: 0 5px 8px 5px rgba(v.$c-black, 0.3);
}

.logo {
  display: flex;

  &__name-site {
    color: v.$c-white;
  }
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  flex: 1 1 auto;
  padding: 0 3rem;

  &__item {
    font-weight: 700;
    font-size: 1.2rem;
    font-family: v.$f-secundary;
  }

  &__link {
    color: v.$c-gray;
    text-decoration: none;
  }
}
