@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.header {
  display: flex;
  gap: 5rem;
  @include m.general-padding;
  background-color: black;
}

.logo {
  display: flex;

  &__name-site {
    color: v.$c-white;
  }
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;

  &__item {
    font-weight: 700;
    font-size: 1.2rem;
    font-family: v.$f-secundary;
  }

  &__link {
    color: v.$c-gray;
    text-decoration: none;
  }
}
