@use './../styles/variables' as v;

.hero-container {
  width: 100%;
  height: 80vh;
  position: relative;
}

.hero-img-container {
  width: 100%;
  height: 100%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
}

.hero-inf {
  position: absolute;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  & {
    width: 60%;
  }

  &__title {
    font-size: 4rem;
    color: v.$c-white;
    text-shadow: 2px 2px 2px v.$c-black;
    margin-bottom: 1rem;
    // mix-blend-mode: difference;
  }

  &__overview {
    color: v.$c-white;
    line-height: 1.3;
  }
}

.button-link {
  text-decoration: none;
}
