@use 'styles/variables' as v;

.person-link {
  text-decoration: none;
}

.person-name {
  color: v.$c-white;
  transition: all 0.1s;
  // text-decoration: underline;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 1px;
    right: 1px;
    height: 1px;
    background-color: v.$c-gray;
    transition: all 0.2s ease;
  }

  &:hover {
    &::after {
      background-color: v.$c-white;
    }
  }
}
