@use 'styles/variables' as v;

.section-slider-wrapper {
  min-height: 200px;
}

.section-slider {
  position: relative;
  padding: 1.5rem 0;
}

.title-slider {
  margin-left: v.$p-general;
  color: v.$c-white;
  margin-bottom: 0.5rem;
}

.movies-container {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  gap: 1rem;
  overflow: visible;

  &:hover .arrow-slider {
    opacity: 1;
  }

  & > .swiper-wrapper > .swiper-slide:first-child {
    margin-left: v.$p-general;
  }
}

.swiper-slide {
  width: 200px;
  height: 300px;

  transition: transform 0.2s ease-in;

  &:hover {
    transform: scale(1.05);
  }

  &--back {
    width: 200px;
    height: 115px;

    & .swipper-wrapped {
      width: 200px;
      height: 115px;

      & .swiper-slide {
        width: 200px;
        height: 115px;
      }
    }
  }
}

.movie-card-container--back {
  width: 200px;
  height: 115px;
}

.arrow-slider {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 3.5rem;
  top: 0;
  bottom: 0;
  background-color: rgba(v.$c-black, 0.65);
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.1s ease-in;

  &--right {
    right: 0;
  }

  &--disabled {
    display: none;
  }

  &:hover {
    background-color: rgba(v.$c-black, 0.85);
  }
}
